@import "mixins";

.panel-grid {
	display: flex;
	flex-wrap: nowrap;
}

.panel-grid-cell {

	.so-panel {
		.clearfix();
	}

	.panel-last-child {
		margin-bottom: 0;
	}

	.widget-title {
		margin-top: 0;
	}
}

.panel-row-style {
	.clearfix();
}
