.so-panel {
  -webkit-transition: 0.15s !important;
  transition: 0.15s !important;
}
.so-panel.so-panels-highlighted {
  opacity: 1 !important;
}
.so-panel.so-panels-faded {
  opacity: 0.225 !important;
}
